<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexandertutoriales.cliente.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMovil"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.VerInvoiceActivity"
            android:exported="false" />
        <activity android:name=".activity.PlatillosCarritoActivity" />
        <activity android:name=".activity.DetallePlatilloActivity" />
        <activity android:name=".activity.ListarPlatillosPorCategoriaActivity" />
        <activity android:name=".activity.ui.compras.DetalleMisComprasActivity" />
        <activity android:name=".activity.RegistrarUsuarioActivity" />
        <activity
            android:name=".activity.InicioActivity"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.AppMovil.NoActionBar" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>